@model MVC_Project_BSL.ViewModels.PersoonlijkeGegevensViewModel

@{
	ViewData["Title"] = "Gebruiker wijzigen";
}

<div class="container my-5">
	<div class="row">
		<div class="col-md-12">
			<h2 class="text-center mb-4">Gegevens van @Model.Voornaam @Model.Naam</h2>

			<!-- Formulier voor persoonlijke gegevens van de gebruiker -->
			<form asp-action="EditGebruiker" method="post">
				@Html.AntiForgeryToken()
				@Html.HiddenFor(m => m.Id)
				<div class="card mb-4 shadow-lg">
					<div class="card-header bg-navbar text-white">
						<h4 class="my-0">@Model.Voornaam @Model.Naam</h4>
					</div>
					<div class="card-body bg-light">
						<div class="form-row">
							<div class="form-group col-mb-3">
								<label asp-for="Naam" class="form-label">Naam</label>
								<input asp-for="Naam" class="form-control" />
								<span asp-validation-for="Naam" class="text-danger"></span>
							</div>
							<div class="form-group col-mb-3">
								<label asp-for="Voornaam" class="form-label">Voornaam</label>
								<input asp-for="Voornaam" class="form-control" />
								<span asp-validation-for="Voornaam" class="text-danger"></span>
							</div>
						</div>

						<div class="form-row">
							<div class="form-group col-mb-3">
								<label asp-for="Geboortedatum" class="form-label">Geboortedatum</label>
								<input asp-for="Geboortedatum" class="form-control" type="date" />
								<span asp-validation-for="Geboortedatum" class="text-danger"></span>
							</div>
							<div class="form-group col-mb-3">
								<label asp-for="Huisdokter" class="form-label">Huisdokter</label>
								<input asp-for="Huisdokter" class="form-control" />
								<span asp-validation-for="Huisdokter" class="text-danger"></span>
							</div>
						</div>

						<div class="form-row">
							<div class="form-group col-mb-3">
								<label asp-for="TelefoonNummer" class="form-label">Telefoonnummer</label>
								<input asp-for="TelefoonNummer" class="form-control" />
								<span asp-validation-for="TelefoonNummer" class="text-danger"></span>
							</div>
							<div class="form-group col-mb-3">
								<label asp-for="RekeningNummer" class="form-label">Rekeningnummer</label>
								<input asp-for="RekeningNummer" class="form-control" />
								<span asp-validation-for="RekeningNummer" class="text-danger"></span>
							</div>
						</div>
						<div class="form-check mb-3">
							<input asp-for="IsActief" class="form-check-input" type="checkbox" />
							<label asp-for="IsActief" class="form-check-label">Actief</label>
						</div>
					</div>
					<!-- Opslaan knop voor gebruiker -->
					<div class="d-grid gap-2">
						<button type="submit" class="btn btn-primary btn-lg">
							<i class="bi bi-save"></i> Opslaan Gebruiker
						</button>
					</div>
				</div>


			</form>
		</div>
	</div>
</div>